<h1>Create a New List</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4 shadow-sm">

        <%= simple_form_for @list do |f| %>
          <%= f.input :name, label: "List Name" %>

          <%= f.input :photo,
                as: :file,
                label: "Upload a Cover Image" %>

          <%= f.button :submit,
                "Create List",
                class: "btn btn-primary w-100 mt-3" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
