.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin-bottom: 20px;
  border-radius: 12px;
}
